<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ipmi.addr" value="192.168.1.2" />
		<add key="ipmi.user" value="admin" />
		<add key="ipmi.passwd" value="admin" />
		<add key="ipmi.fan_name" value="System Fan1" />
		<add key="ipmi.fan_index" value="01" />
		<add key="ipmi.fan_oem" value="Lenovo RD450x" />
		<add key="ipmi.fan_min_speed" value="10" />
	</appSettings>
</configuration>